%h3 Welcome to the Incompetence Tracker
#instructions
  %ul
    %li= link_to 'What Is This?', '#whatis'
    %li= link_to 'What To Do?', '#todo'
  
  #whatis
    %p The Incompetence Tracker allows you to record all the times you contact a company that is either incompetent or is not dealing with you fairly. All records are date stamped and are uneditable.   With these records you can better deal with the company in negotiations or even small claims court.  Future enhancements include an android app to record cell phone calls and a print view that will print out a problem with all associated contact records.  The ability to mark problems public will come in the future as well.
  
  
  
  #todo 
    %p Once you sign up and login you can create contact records and problem records.  Contact records are simple date stamped records of when you communicated with a company.  Problems are used when you have an issue with a company and want to track it over time. Multiple contact records can be associated with a problem. 

#home-page-problems
  %h4 Public Problems
  -@problems.each do |problem|
    %p
      %em New Problem
      %br
      = problem.title
      %br

      Company: 
      = problem.company_name
      %br

      = problem.description
