<h3>Contact Records</h3>
= "Contact Records: #{@contact_records.length}"

%table#contact-records-index 
  %thead
    %tr
      %th Date
      %th Company
      %th Contact Record Type
  %tbody
    - @contact_records.each do |contact_record|
      %tr
        %td= contact_record.created_at
        %td= contact_record.company
        %td= contact_record.contact_record_type
  
