= error_messages_for :user
Signup for the Incompetence Tracker

- form_for @user do |f|
  = f.label       :username
  = f.text_field  :username

  = f.label       :password
  = f.password_field  :password

  = f.label       :email_address
  = f.text_field  :email_address 

  = recaptcha_tags

  = f.submit 'Signup'

